* {
    box-sizing: border-box;
}

html {
    margin: 0;
}

body {
    margin: 0;
}

ul {
    background-color: #333;
    font-size: 1.5em;
    padding: 0;
}

li {
    margin: 10px;
    display: inline;
    text-align: center;
}

li a{
    text-decoration: none;
    color: white;
    padding: 14px 16px;
}

li:hover {
    background-color: #555;
}

header {
    display: block;
}

footer {
    margin: 10px;
}

/* when the screen is bigger than phone/tablet size */
@media screen and (min-width: 600px) {
 
}